</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New
        Campground</a></p>
  </div>
</footer>
<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- Custom JS for search feature -->
<script src="../../public/scripts/search.js" async defer></script>
<!-- Bootstrap JS CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />

</body>
</html>