nav {
  border-bottom: solid #f5f5f5 2px;
}

.card .caption-full {
  padding: 9px;
}

.card .caption-full p {
  font-weight: 400;
}

.delete-form {
  display: inline;
}

img.card-img-top {
  height: 200px;
  width: auto;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #343a40;
}

footer div.container {
  margin: 0 20px;
  height: 100%;
}

p.text-muted {
  height: 100%;
  width: 100%;
  line-height: 60px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  margin: 0;
  padding: 10px;
}

.jumbotron .container {
  padding: 0;
}

.whiteText {
  color: white;
}

label {
  color: white;
}

.card {
  margin-top: 15px;
}
